body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#collapse1, #collapse2 {
    overflow-y:auto;
    max-height:380px;
}

@media (max-width: 4096px) {
    .container {
      margin:0;
      padding:0;
    }

   .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}